*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*::before, *::after{
    padding: 0;
    margin: 0;
}

:root{
    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #515c6f;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    position: relative;
    overflow: hidden;
    width: 300px;
    padding: 25px 30px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow)
}

.wrapper i{
    cursor: pointer;
}

.top-bar, .progress-area .timer,
.controls, .music-list .header, .music-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 28px;
    color: var(--lightblack)
}

.top-bar span{
    font-size: 18px;
    color: var(--lightblack)
}

.img-area{
    margin-top: 25px;
    height: 256px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 6px 15px var(--lightbshadow);
    border-radius: 15px;
}

.img-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details{
    margin: 40px 0;
    text-align: center;
    color: var(--lightblack)
}

.song-details .name{
    font-size: 21px;
}

.song-details .artist{
    font-size: 16px;
    opacity: 0.8;
}

.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}

.progress-area .progress-bar{
    position: relative;
    height: inherit;
    width: 50%;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}

.progress-bar::before{
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
}

.progress-area .timer{
    margin-top: 2px;
}

.timer span{
    font-size: 13px;
    color: var(--lightblack);
}

.controls{
    margin: 40px 0 5px 0;
}

.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient( var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 34px;
}

.controls #prev{
    margin-right: -13px;
}

.controls #next{
    margin-left: -13px;
}

.controls .play-pause{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: linear-gradient( var(--white) 0%, var(--darkwhite) 100%);
    box-shadow: 0 0 5px var(--pink);
    border-radius: 50%;
}

.play-pause::before{
    content: " ";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient( var(--pink) 0%, var(--violet) 100%);
}

.play-pause i{
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: inherit;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list{
    width: 100%;
    padding: 15px 30px;
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0; 
    pointer-events: none;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    background: var(--white);
    transition: all 0.14 ease;
}

/* Show class will be used in javascript */
.music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.music-list .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}

.header .row i{
    cursor: default;
}

.header .row span{
    margin-left: 5px;
}

.header #close{
    font-size: 12px;
    color: var(--lightblack);
}

.music-list ul{
    margin: 10px 0;
    max-height: 260px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar{
    width: 0px;
}

.music-list ul li{
    cursor: pointer;
    list-style: none;
    color: var(--lightblack);
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
}

.music-list ul li:last-child{
    border-bottom: 0px;
}

.music-list ul li .row span{
    font-size: 17px;
}

ul li .row p{
    opacity: 0.8;
}


ul li .audio-duration{
    font-size: 16px;
}